# Task 2 - Topic Classification on News Article.

## 1 Analysis the data

In [2]:
import pandas as pd # here we are importing pandas liberary

In [3]:
dataset=pd.read_csv('BBC News Train.csv')# import the dataset of BBC news 
dataset.shape # check the dimensional of the dataset.

(1490, 3)

In [4]:
dataset.head() # check head of the dataset

   ArticleId                                               Text  Category
0       1833  worldcom ex-boss launches defence lawyers defe...  business
1        154  german business confidence slides german busin...  business
2       1101  bbc poll indicates economic gloom citizens in ...  business
3       1976  lifestyle  governs mobile choice  faster  bett...      tech
4        917  enron bosses in $168m payout eighteen former e...  business

In [5]:
unique=dataset.ArticleId.unique() # here we are checking the data in ArticleId  column is uniuqe or not.if it is unique then drop this column.
unique.shape #this ArticleId column data is unique so droping this column. beacuse it wont be impact of our predictions

(1490,)

In [6]:
dataset.drop(['ArticleId'],axis=1) # here drop ArticleId column. (axis=1 mean column.)

                                                   Text       Category
0     worldcom ex-boss launches defence lawyers defe...       business
1     german business confidence slides german busin...       business
2     bbc poll indicates economic gloom citizens in ...       business
3     lifestyle  governs mobile choice  faster  bett...           tech
4     enron bosses in $168m payout eighteen former e...       business
5     howard  truanted to play snooker  conservative...       politics
6     wales silent on grand slam talk rhys williams ...          sport
7     french honour for director parker british film...  entertainment
8     car giant hit by mercedes slump a slump in pro...       business
9     fockers fuel festive film chart comedy meet th...  entertainment
10    blair rejects iraq advice calls tony blair has...       politics
11    housewives lift channel 4 ratings the debut of...  entertainment
12    uk coal plunges into deeper loss shares in uk ...       business
13    bp surges ahead on high oil price oil giant bp...       business
14    ireland 21-19 argentina an injury-time dropped...          sport
15    wenger signs new deal arsenal manager arsene w...          sport
16    u2 s desire to be number one u2  who have won ...  entertainment
17    hantuchova in dubai last eight daniela hantuch...          sport
18    melzer shocks agassi in san jose second seed a...          sport
19    moving mobile improves golf swing a mobile pho...           tech
20    hewitt overcomes wobble in sydney lleyton hewi...          sport
21    carry on star patsy rowlands dies actress pats...  entertainment
22    serena becomes world number two serena william...          sport
23    ferguson urges henry punishment sir alex fergu...          sport
24    bt boosts its broadband packages british telec...           tech
25    china had role in yukos split-up china lent ru...       business
26    peer-to-peer nets  here to stay  peer-to-peer ...           tech
27    henman to face saulnier test british number on...          sport
28    uk will stand firm on eu rebate  britain s £3b...       politics
29    iran budget seeks state sell-offs iran s presi...       business
...                                                 ...            ...
1460  music man to the oscars bill conti s job of mu...  entertainment
1461  speech takes on search engines a scottish firm...           tech
1462  da vinci code is  lousy history  the plot of a...  entertainment
1463  abbas  will not tolerate  attacks palestinian ...       politics
1464  broadband set to revolutionise tv bt is starti...           tech
1465  warnings about junk mail deluge the amount of ...           tech
1466  house prices drop as sales slow house prices f...       business
1467  charvis set to lose fitness bid flanker colin ...          sport
1468  preview: ireland v england (sun) lansdowne roa...          sport
1469  warnings on woeful wi-fi security companies ar...           tech
1470  golden economic period  to end ten years of  g...       business
1471  ferrero eyes return to top form former world n...          sport
1472  kelly trails new discipline power teachers cou...       politics
1473  dallaglio eyeing lions tour place former engla...          sport
1474  indy buys into india paper irish publishing gr...       business
1475  budget to set scene for election gordon brown ...       politics
1476  bollywood draws global stars british actress a...  entertainment
1477  web logs aid disaster recovery some of the mos...           tech
1478  visa row mandarin made sir john the top civil ...       politics
1479  high fuel costs hit us airlines two of the lar...       business
1480  qantas sees profits fly to record australian a...       business
1481  liverpool pledge to keep gerrard liverpool chi...          sport
1482  file-swappers ready new network legal attacks ...           tech
1483  beastie boys win sampling battle us rappers be...  entertainment
1484  hyundai to build new india plant south korea s...       business
1485  double eviction from big brother model caprice...  entertainment
1486  dj double act revamp chart show dj duo jk and ...  entertainment
1487  weak dollar hits reuters revenues at media gro...       business
1488  apple ipod family expands market apple has exp...           tech
1489  santy worm makes unwelcome visit thousands of ...           tech

[1490 rows x 2 columns]

# 2. Check Null values

In [7]:
#check Nulll values
dataset.isnull().sum() # no null values in this dataset

ArticleId    0
Text         0
Category     0
dtype: int64

# 3.preprocessing of the text
## for preprocessing we will use tlnk liberary for NLP task and preprocessing of text data.
### we will remove stopwords from text .and perform Lemmatizer on each and every words.

In [8]:
from sklearn import preprocessing # import this liberary for perform label encoding technique on categorical variables

In [9]:
label_encoder = preprocessing.LabelEncoder()  # initiallize

In [10]:
dataset['Category']= label_encoder.fit_transform(dataset['Category'])  # perform label encoding technique on dependent feature , convert categorical variable into some labels.

In [11]:
dataset.head() # here check out the categorical dependent variable

   ArticleId                                               Text  Category
0       1833  worldcom ex-boss launches defence lawyers defe...         0
1        154  german business confidence slides german busin...         0
2       1101  bbc poll indicates economic gloom citizens in ...         0
3       1976  lifestyle  governs mobile choice  faster  bett...         4
4        917  enron bosses in $168m payout eighteen former e...         0

In [12]:
data_sen=dataset['Text'] # its our independent feature and we will do preprocessing on it.so we are retriveing only Text feature from dataset. 
print(len(data_sen)) # length is 1490

1490

In [13]:
output_variable=dataset['Category'] # its our dependent feature. we will use further .

time of preprocessing of text data

In [14]:
import nltk     #nltk liberary use for preprocessing of text and for NLP task 
import re       # its for expression 
from nltk.corpus import stopwords #its removes stopwords like is are we etc from sentences(text).
from nltk.stem import WordNetLemmatizer # its liberary for Lemmatization (its liberary to convert meaningless words into some meaningfull.)

In [15]:
after_preprocessing_of_text=[]

In [16]:
Lemmatizer = WordNetLemmatizer() # intilize the WordNetLemmatizer and create object Lemmatizerz

Here is the main logic

In [17]:

for i in range(0, len(data_sen)): # this loop go till len of the data_Sen ( 0 to 1489)
    rev = re.sub('[^a-zA-Z]', ' ', data_sen[i]) # its remove special characters from text. data_sen[i] mean it will take paragraph of ith location and move one by one to the end.
    rev = rev.lower() # convert all words into lower case.
    rev = rev.split() #perform Tokenizer
    
    rev = [Lemmatizer.lemmatize(word) for word in rev if not word in stopwords.words('english')] # this statement remove stopwords from paragraphs and perform Lemmatiizations.for this we used list comprehension 
    rev = ' '.join(rev) # here after perform stopwords and lemmatizations again we are perforing join on which we did spilte .
    after_preprocessing_of_text.append(rev)

In [18]:
after_preprocessing_of_text[0] # its 1st index text and  here you can check all stopwords have  been removed. and most of the words is  meaningfull.

'worldcom ex bos launch defence lawyer defending former worldcom chief bernie ebbers battery fraud charge called company whistleblower first witness cynthia cooper worldcom ex head internal accounting alerted director irregular accounting practice u telecom giant warning led collapse firm following discovery bn bn accounting fraud mr ebbers pleaded guilty charge fraud conspiracy prosecution lawyer argued mr ebbers orchestrated series accounting trick worldcom ordering employee hide expense inflate revenue meet wall street earnings estimate m cooper run consulting business told jury new york wednesday external auditor arthur andersen approved worldcom accounting early said andersen given green light procedure practice used worldcom mr ebber lawyer said unaware fraud arguing auditor alert problem m cooper also said shareholder meeting mr ebbers often passed technical question company finance chief giving brief answer prosecution star witness former worldcom financial chief scott sullivan said mr ebbers ordered accounting adjustment firm telling hit book however m cooper said mr sullivan mentioned anything uncomfortable worldcom accounting audit committee meeting mr ebbers could face jail sentence year convicted charge facing worldcom emerged bankruptcy protection known mci last week mci agreed buyout verizon communication deal valued bn'

# 4. after preprocessing we are going to  perform one hot representation technique.[TF-IDF]

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer  # this liberary use for perform TF-IDF
TF_IDF_tech = TfidfVectorizer() #initialize here 
 
X = TF_IDF_tech.fit_transform(after_preprocessing_of_text).toarray() # convert words into vectors with the help of TF-IDF technique.

In [20]:
X.shape # after perform TF-IDF its  our new dataframe structure. total no of 20830 independemt features.

(1490, 20830)

In [21]:
output_variable.unique() # here we are checking total categorizes of dependent feature.

array([0, 4, 2, 3, 1], dtype=int64)

# 5. Model creation and development phase.

In [22]:
from sklearn.metrics import confusion_matrix # import confusion_matrix for check the accuarcy of classfications models.

In [23]:
from sklearn.linear_model import LogisticRegression # we are going to use logistics  regression for multiclasses problem .

In [24]:
ourmodel = LogisticRegression(solver = 'lbfgs') # intialize the model

In [25]:
from sklearn.model_selection import train_test_split # import libeary for test train splite

X_train, X_test, y_train, y_test = train_test_split(X, output_variable, test_size=0.3, random_state=1) # here we are spliting the data into train and test
# 30% for testing and 70% for training using random_state=1

In [26]:
ourmodel.fit(X_train,y_train) # fit independent and dependent features into model

C:\Users\Puneet Singh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

# 6. check the accuracy of our model

In [35]:
y_pred = ourmodel.predict(X_test) # here is prediction
y_pred

array([3, 2, 0, 0, 1, 0, 0, 2, 2, 2, 3, 1, 3, 4, 1, 3, 1, 4, 1, 3, 3, 3,
       4, 2, 2, 4, 2, 0, 1, 2, 0, 4, 1, 4, 4, 3, 0, 3, 3, 3, 0, 1, 2, 1,
       1, 0, 3, 4, 0, 0, 2, 4, 1, 2, 4, 0, 2, 1, 0, 4, 4, 3, 1, 3, 0, 0,
       4, 3, 3, 2, 2, 2, 0, 4, 4, 2, 3, 0, 1, 1, 3, 3, 2, 2, 4, 2, 3, 4,
       1, 0, 3, 0, 4, 1, 3, 3, 2, 3, 0, 0, 0, 3, 2, 4, 0, 1, 3, 3, 1, 0,
       4, 4, 1, 3, 2, 4, 4, 4, 2, 1, 3, 1, 3, 4, 4, 1, 2, 4, 0, 3, 3, 1,
       4, 1, 2, 3, 4, 1, 2, 2, 0, 1, 0, 2, 1, 0, 0, 0, 2, 1, 1, 0, 2, 3,
       0, 2, 4, 3, 3, 3, 4, 0, 1, 3, 0, 4, 1, 1, 4, 2, 3, 0, 2, 4, 1, 3,
       3, 3, 3, 3, 1, 0, 0, 3, 2, 2, 1, 3, 2, 0, 3, 1, 4, 3, 4, 3, 2, 3,
       0, 4, 1, 2, 1, 3, 0, 2, 2, 4, 1, 4, 2, 3, 0, 0, 2, 2, 4, 3, 0, 3,
       0, 0, 3, 0, 3, 4, 0, 0, 0, 0, 1, 3, 4, 0, 4, 0, 1, 1, 0, 1, 2, 2,
       3, 0, 3, 4, 3, 4, 0, 2, 4, 0, 1, 3, 1, 1, 0, 1, 0, 1, 1, 3, 0, 0,
       1, 4, 0, 3, 4, 3, 4, 0, 1, 0, 2, 0, 1, 3, 0, 0, 0, 0, 2, 4, 0, 2,
       4, 4, 4, 4, 4, 4, 3, 2, 3, 0, 0, 3, 4, 2, 2, 2, 3, 3, 2, 3, 4, 1,
       0, 2, 3, 4, 2, 0, 0, 0, 0, 0, 0, 4, 1, 0, 2, 1, 1, 0, 2, 4, 4, 0,
       2, 3, 1, 1, 4, 4, 2, 0, 3, 4, 2, 1, 0, 3, 4, 0, 2, 2, 3, 3, 0, 2,
       3, 4, 1, 3, 3, 4, 2, 1, 2, 4, 1, 3, 2, 1, 4, 1, 2, 0, 2, 2, 4, 3,
       4, 3, 2, 4, 3, 1, 3, 1, 0, 1, 3, 0, 4, 1, 4, 3, 2, 0, 4, 0, 3, 0,
       3, 2, 3, 0, 3, 3, 4, 3, 3, 1, 1, 2, 1, 1, 2, 1, 0, 3, 0, 0, 1, 3,
       0, 0, 3, 2, 4, 2, 2, 4, 1, 3, 4, 0, 1, 3, 3, 3, 1, 4, 3, 4, 1, 0,
       4, 3, 4, 2, 2, 4, 4])

In [36]:

from sklearn import metrics



accuracy = metrics.accuracy_score(y_test, y_pred)
print('Accuracy: {:.2f}'.format(accuracy))

Accuracy: 0.97

# 7. why my model is best ?
## for this we are going to use cross-validation technique (K fold cross validation technique)

In [29]:
from sklearn.model_selection import cross_val_score # here we importing cross val score . to calculate our model score 
score=cross_val_score(ourmodel,X,output_variable,cv=10) #cv=10 mean divied dataset into train and test 10 times and give to the model and model will predict output for 10 times.

C:\Users\Puneet Singh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\Puneet Singh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\Puneet Singh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\Puneet Singh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\Puneet Singh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\Puneet Singh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\Puneet Singh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\Puneet Singh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\Puneet Singh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\Puneet Singh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

 my model is giving min accuracy is 93%

In [30]:
score.min() # here we find out the mean of all the accuracy of my model.

0.9337748344370861

 my model is giving max accuracy is 97%

In [31]:
score.max()

0.9798657718120806

 Average accuray is 96 %

In [32]:
score.mean()

0.9658745659173746

# my accuracy looking good. if  my mode does not give accuracy well then i will use hyperparameter optimization tuning.