# Its first problem statement

In [95]:
import pandas as pd # here we are importing pandas liberary

## Here we are going to use BBC news Test dataset for performing POS

In [96]:
dataset=pd.read_csv('BBC News Test.csv')# import dataset
dataset.shape # check the dimensional of the dataset.

(735, 2)

# 1. Analysis the dataset

In [97]:
dataset.head()

   ArticleId                                               Text
0       1018  qpr keeper day heads for preston queens park r...
1       1319  software watching while you work software that...
2       1138  d arcy injury adds to ireland woe gordon d arc...
3        459  india s reliance family feud heats up the ongo...
4       1020  boro suffer morrison injury blow middlesbrough...

In [98]:
unique=dataset.ArticleId.unique() # here we are checking the data in ArticleId  column is uniuqe or not.if it is unique then drop this column.
unique.shape #this ArticleId column data is unique so droping this column. beacuse it wont be impact of our predictions

(735,)

In [99]:
dataset.drop(['ArticleId'],axis=1) # here drop ArticleId column. (axis=1 mean column.)

                                                  Text
0    qpr keeper day heads for preston queens park r...
1    software watching while you work software that...
2    d arcy injury adds to ireland woe gordon d arc...
3    india s reliance family feud heats up the ongo...
4    boro suffer morrison injury blow middlesbrough...
5    lewsey puzzle over disallowed try england s jo...
6    blair blasts tory spending plans tony blair ha...
7    former ni minister scott dies former northern ...
8    career honour for actor dicaprio actor leonard...
9    tsunami  to hit sri lanka banks  sri lanka s b...
10   us economy still growing says fed most areas o...
11   digital uk driven by net and tv the uk s adopt...
12   blunkett tells of love and pain david blunkett...
13   ibm puts cash behind linux push ibm is spendin...
14   cage film s third week at us top nicolas cage ...
15   souness backs smith for scotland graeme sounes...
16   ukip mep attacked german  empire  a uk indepen...
17   cheaper chip for mobiles a mobile phone chip w...
18   usher leads soul train shortlist chart-topping...
19   india to deport bollywood actress india has or...
20   bush budget seeks deep cutbacks president bush...
21   labour s core support takes stock tony blair h...
22   hodges announces rugby retirement scarlets and...
23   latin america sees strong growth latin america...
24   vouchers  to cut winter deaths  pensioners are...
25   captains lining up for aid match ireland s bri...
26   yukos heading back to us courts russian oil an...
27   wales get williams fitness boost wales are hop...
28   ireland v usa (sat) saturday 20 november  lans...
29   fiat chief takes steering wheel the chief exec...
..                                                 ...
705  us consumer confidence up consumers  confidenc...
706  wilkinson to lead england fly-half jonny wilki...
707  triple triumph for little britain top tv cult ...
708  tory leader quits legal position david mcletch...
709  tautou  to star in da vinci film  french actre...
710  cash gives way to flexible friend spending on ...
711  economy focus for election battle britain s ec...
712  wall street cheers bush victory the us stock m...
713  more to do  on adult literacy the government w...
714  hearts 2-1 livingston hearts wrapped up their ...
715  slim playstation triples sales sony playstatio...
716  mobile networks seek turbo boost third-generat...
717  kinnock to urge reform in lords neil kinnock h...
718  famed music director viotti dies conductor mar...
719  chinese wine tempts italy s illva italy s illv...
720  speak easy plan for media players music and fi...
721  byrds producer melcher dies at 62 record produ...
722  buffy creator joins wonder woman the creator o...
723  sayeed to stand down as tory mp tory mp jonath...
724  tobacco giants hail court ruling us tobacco co...
725  green reports shun supply chain nearly 20% mor...
726  the memory driving brown s mission the memory ...
727  labour accused of broken pledge labour has alr...
728  pc photo printers challenge pros home printed ...
729  dogged federer claims dubai crown world number...
730  eu to probe alitalia  state aid  the european ...
731  u2 to play at grammy awards show irish rock ba...
732  sport betting rules in spotlight a group of mp...
733  alfa romeos  to get gm engines  fiat is to sto...
734  citizenship event for 18s touted citizenship c...

[735 rows x 1 columns]

In [100]:
data_sen=dataset['Text'] # retrive Text column from dataset 
print(len(data_sen)) # length is 735
data_sen[0] #show the paragraph which is located index 0

735

'qpr keeper day heads for preston queens park rangers keeper chris day is set to join preston on a month s loan.  day has been displaced by the arrival of simon royce  who is in his second month on loan from charlton. qpr have also signed italian generoso rossi. r s manager ian holloway said:  some might say it s a risk as he can t be recalled during that month and simon royce can now be recalled by charlton.  but i have other irons in the fire. i have had a  yes  from a couple of others should i need them.   day s rangers contract expires in the summer. meanwhile  holloway is hoping to complete the signing of middlesbrough defender andy davies - either permanently or again on loan - before saturday s match at ipswich. davies impressed during a recent loan spell at loftus road. holloway is also chasing bristol city midfielder tom doherty.'

# 2. Preprocessing on text

In [101]:
from nltk.tokenize import word_tokenize, sent_tokenize  # import for word tokenizer and sentence tokenizer

import nltk # import nltk liberary
from nltk.corpus import stopwords # this is for remove stopwords from sentences


for_token_ = sent_tokenize(data_sen[0]) # for further POS operations we are going to use only index 0 paragraph and perform tokenization on sentences 
for_token_

['qpr keeper day heads for preston queens park rangers keeper chris day is set to join preston on a month s loan.',
 'day has been displaced by the arrival of simon royce  who is in his second month on loan from charlton.',
 'qpr have also signed italian generoso rossi.',
 'r s manager ian holloway said:  some might say it s a risk as he can t be recalled during that month and simon royce can now be recalled by charlton.',
 'but i have other irons in the fire.',
 'i have had a  yes  from a couple of others should i need them.',
 'day s rangers contract expires in the summer.',
 'meanwhile  holloway is hoping to complete the signing of middlesbrough defender andy davies - either permanently or again on loan - before saturday s match at ipswich.',
 'davies impressed during a recent loan spell at loftus road.',
 'holloway is also chasing bristol city midfielder tom doherty.']

In [102]:
to=[] #declare list
for i in for_token_: 
        word_sen = nltk.word_tokenize(i) # here perform tokenization on words
        
        word_sen = [new_word for new_word in word_sen if not new_word in  stopwords.words('english')] # here we are checking stopwords if word  is stopword reject else assign into word_sen variable
        to.append(nltk.pos_tag(word_sen)) # if word is not stop word append into list

# Step 3 -display the POS tags with the Words.

In [108]:
# here we are printing words and Pos realted to words
for i in range(0,len(to)):
    print("---------------------")

    print("sentence no {} Pos tags \n ".format(i+1))

    print ("{:<15} {}".format('Words', 'POS Tag')) 
    print("\n")
    for k, l in to[i]: 
         print ("{:<15} {}".format(k,l))

---------------------
sentence no 1 Pos tags

Words           POS Tag


qpr             JJ
keeper          JJR
day             NN
heads           NNS
preston         VBP
queens          NNS
park            NN
rangers         NNS
keeper          VBP
chris           JJ
day             NN
set             VBN
join            NNS
preston         JJ
month           NN
loan            NN
.               .
---------------------
sentence no 2 Pos tags

Words           POS Tag


day             NN
displaced       VBD
arrival         JJ
simon           JJ
royce           JJ
second          JJ
month           NN
loan            NN
charlton        NN
.               .
---------------------
sentence no 3 Pos tags

Words           POS Tag


qpr             NN
also            RB
signed          VBD
italian         JJ
generoso        NN
rossi           NN
.               .
---------------------
sentence no 4 Pos tags

Words           POS Tag


r               NN
manager         NN
ian             JJ
holloway        NN
said            VBD
:               :
might           MD
say             VB
risk            NN
recalled        VBD
month           NN
simon           NN
royce           NN
recalled        VBD
charlton        NN
.               .
---------------------
sentence no 5 Pos tags

Words           POS Tag


irons           NNS
fire            NN
.               .
---------------------
sentence no 6 Pos tags

Words           POS Tag


yes             RB
couple          NN
others          NNS
need            VBP
.               .
---------------------
sentence no 7 Pos tags

Words           POS Tag


day             NN
rangers         NNS
contract        NN
expires         VBZ
summer          NN
.               .
---------------------
sentence no 8 Pos tags

Words           POS Tag


meanwhile       RB
holloway        RB
hoping          VBG
complete        JJ
signing         VBG
middlesbrough   JJ
defender        NN
andy            NN
davies          VBZ
-               :
either          CC
permanently     RB
loan            NN
-               :
saturday        JJ
match           NN
ipswich         NN
.               .
---------------------
sentence no 9 Pos tags

Words           POS Tag


davies          NNS
impressed       VBD
recent          JJ
loan            NN
spell           NN
loftus          NN
road            NN
.               .
---------------------
sentence no 10 Pos tags

Words           POS Tag


holloway        NN
also            RB
chasing         VBG
bristol         JJ
city            NN
midfielder      NN
tom             NN
doherty         NN
.               .